html, body {
  height: 100%;
  width: 100%;
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 400;
  background-color: #fff;
}

h4, h5, h6 {
  font-family: 'Lato', Arial, sans-serif;
}
h1 {
  font-size: 72px;
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-bottom: 0;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    color: #42603c;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
    text-shadow: 2px 2px 2px #dcdddd;
}

h3 {
  font-family: 'Lato', Arial, sans-serif;
  text-align: center;
  margin-bottom: 5;
}

p {
  font-size: 14pt;
  line-height: 1.4em;
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 400;
  text-align: left;
}
.lead {
  font-size: 16pt;
}

.topspace {
    padding-top: 20px;
}

.noleft {
    padding-left: 0;
    margin-left: 0;
}

.jumbotron {
  background:
    url('../img/simil-wide.png') no-repeat center center scroll;
  padding-top: 0;
  margin-bottom: 0;
  height:450px;
}

#title {
  background-color: #42603c;
  padding-bottom: 10px;
}
#title h1 {
  padding-left: 120px;
  padding-right: 120px;
  margin-top: 0;
  text-shadow: 2px 2px 6px #252525;
  text-align: center;
  font-size: 60px;
  color:#fff;
  padding-top: 40px;
}
#title h2 {
  padding-left: 120px;
  padding-right: 120px;
  color:#fff;
  text-shadow: 2px 2px 6px #252525;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 20px;
}

#text {
	padding-top: 40px;
	padding-bottom: 40px;
}



@media (min-width:769px) and (max-width:992px) {

  .navbar-default .navbar-header .navbar-brand {
    font-size: 10pt;
  }
  .jumbotron {
  height: 120px;
  margin-bottom: 0;
}
  .jumbotron h1{
  font-size: 24px;
  padding-left: 15%;
  padding-right: 15%;
  }
  h2 {
  font-size: 24pt;
  padding-top: 20px;
    }
  h3 {
  font-size: 20pt;
  font-weight: 400;
  }
  h4 {
  font-size: 14pt;
}
  #pi p {
  font-size: 10pt;
  text-align: center;
  }
  #pi h3 {
  font-size: 10pt;
  }
  ul > li {
    font-size: 10pt;
  }
  p {
    font-size: 12pt;
  }
  ul > li {
  font-size: 12pt;
  }
  ol > li {
  font-size: 12pt;
}
  .caption {
  font-size: 10pt;
  padding-left: 20px;
  }

  .caption li {
    list-style-type: none;
    font-size: 9pt;
    padding-top: 4px;
    padding-left: 10px;
  }
  #hypo h4 {
    font-size: 14pt;
  }
  .welltitle {
  font-size: 12pt;
}
.welltext {
  font-size: 10pt;
}
.leadtext {
  font-size: 12pt;
}
.panel-footer .name {
  font-size: 9pt;
}
#hypo h2 {
    font-size: 24pt;
  }

}
@media (min-width:993px) and (max-width:1265px) {
  .jumbotron{
  height: 200px;
  margin-bottom: 0;
  padding-top: 0;
  }

  .jumbotron h1 {
  font-size: 36px;
  padding-top: 30px;
  padding-left: 15%;
  padding-right: 15%;
  }
  #pi p {
  font-size: 12pt;
  text-align: center;
  }
  #pi h3 {
  font-size: 12pt;
  }
  p {
    font-size: 14pt;
    }
  h4 {
    font-size: 18pt;
    }
  h3 {
    font-size: 24pt;
    font-weight: 600;
    }
  h2 {
  font-size: 36pt;
  padding-top: 20px;
    }
  #hypo h2 {
    font-size: 30pt;
  }
  #hypo h4 {
    font-size: 16pt;
  }
  .navbar-default .navbar-toggle {
    color:#fff;
  }
  .leadtext {
  font-size: 14pt;
}

@media (min-width:1266px) {

h2 {
  font-size: 36pt;
  margin-top: 0;
}
h3 {
  font-size: 28pt;
  font-weight: 600;
}
h4 {
  font-size: 24pt;
}
.welltitle {
  font-size: 14pt;
}
.welltext {
  font-size: 12pt;
}
}