{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block content %}
<main>
  <body id="page-top">

  <!-- BEGIN USGS Applications Header Template -->
  <header id="navbar" class="header-nav" role="banner">
    <div class="tmp-container">
      <div class="header"> <a class="logo-header" href="https://www.usgs.gov/index.html" title="Home">
        <img class="img" src="static/img/logo.png" alt="Home"/>
      </a>
      </div>
    </div>
    <!-- end header-container-->
  </header>
  <nav id="mainNav" class="navbar navbar-default subnav affix-top">
    <div class="container-fluid">
      <div class="navbar-header page-scroll">
        <a class="navbar-brand" href="{{ url_for("index") }}">Home</a>
        <a class="navbar-brand" href="{{ url_for("alaska") }}">Alaska</a>
        <a class="navbar-brand" href="{{ url_for("washington") }}">Washington</a>
        <a class="navbar-brand" href="{{ url_for("id_mt") }}">Idaho-Montana</a>

      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#science_centers">USGS Science Centers</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron_salmon"> </div>
  <section id="title">
    <div class="container-fluid">
      <div class="row">
        <h1>Salmon Watershed</h1>
      </div>
    </div>
  </section>
  <section id="text">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <p class=”lead”>The Salmon River drains meltwater from the Salmon Glacier in British Columbia and crosses the international border near Hyder, Alaska before terminating in the Portland Canal. At 526 square kilometers, the salmon watershed is comparatively small, and its topography is primarily mountainous.</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>Background</h2>
          <p>The watershed is part of the traditional territory of the Tlingit Sanyaa Kwaan. In Alaska, the state manages small parcels of land, including the community of Hyder, while the majority of the area is part of Tongass National Forest. A highway connects Hyder with the larger municipality of Stewart, British Columbia, which is just a mile away, on to major Canadian transportation routes.</p>
          <p>Gold, silver, and copper mining occurred episodically on several properties in the area, including at the Premier underground mine which opened in 1918 and at the time of its closure in 1952 was the largest gold mine in North America. Efforts are currently underway to refurbish operations and develop new mines at these sites.</p>
        </div>
      </div>
    </div>
  </section>
  <div class="jumbotron_2_salmon"></div>
  <section id="container2">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>Research and Data</h2>
          <p>The USGS operates a streamgage near the mouth of the Salmon River. Data including stream flow conditions, continuous water quality monitoring, and discrete water quality sampling are available through the  <a href="https://waterdata.usgs.gov/nwis/inventory/?site_no=15008000&agency_cd=USGS&amp;">National Water Information System (NWIS)</a>. </p>
          <p>USGS field crews travel to the Salmon a few times each year to collect additional samples. Data is available at NWIS.</p>
          <figure>
            <img src="static/img/salmon_1.jpg" style="width:100%", class="center">
            <figcaption>An installation of monitoring equipment continuously records flow conditions and water quality parameters on the Salmon River.</figcaption>
          </figure>
          <br><br>
          <p>The graphs below reflect the data published on NWIS – data tables, graphs, and statistics directly are available to download there.</p>
          <!--graphs? -->
          <figure>    {{ script|safe }}
            {{ div|safe }}</figure>
        </div>
      </div>
    </div>
  </section>
  <div class="jumbotron_3_salmon"></div>
  <section id="science_centers">
    <section id="text">
      <div class="container">
        <div class="row">
          <br>
          <div class="col-sm-12">
            <h2>Partners and Cooporators</h2>
            <ul>
              <li><a href="#">Coop link 1</a></li>
              <li><a href="#">Coop link 2</a></li>
              <li><a href="#">Coop link 3</a></li>
              <li><a href="#">Coop link 4</a></li>
            </ul>
            <br><br>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <br>
          <div class="col-sm-12">
            <h2>Other Alaska Projects</h2>
            <ul>
              <li><a href="{{ url_for("alsek") }}">Alsek</a></li>
              <li><a href="{{ url_for("unuk") }}">Unuk</a></li>
              <li><a href="{{ url_for("stikine") }}">Stikine</a></li>
              <li><a href="{{ url_for("taku") }}">Taku</a></li>
              <li><a href="{{ url_for("alaska") }}">Alaska Home Page</a></li>
            </ul>

          </div>
        </div>
      </div>
    </section>
  </body>
</main>
{% endblock %}