{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block content %}
<main>
    <body id="page-top">

    <!-- BEGIN USGS Applications Header Template -->
    <header id="navbar" class="header-nav" role="banner">
        <div class="tmp-container">
            <div class="header"> <a class="logo-header" href="https://www.usgs.gov/index.html" title="Home">
                <img class="img" src="static/img/logo.png" alt="Home"/>
            </a>
            </div>
        </div>
        <!-- end header-container-->
    </header>
    <nav id="mainNav" class="navbar navbar-default subnav affix-top">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <a class="navbar-brand" href="{{ url_for("index") }}">Home</a>
                <a class="navbar-brand" href="{{ url_for("alaska") }}">Alaska</a>
                <a class="navbar-brand" href="{{ url_for("washington") }}">Washington</a>
                <a class="navbar-brand" href="{{ url_for("id_mt") }}">Idaho-Montana</a>

            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#science_centers">USGS Science Centers</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    {{ script|safe }}
    {{ div|safe }}

    </body></main>
{% endblock %}